body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.landingcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf5fe;
}

.landingcontainer h1{
    font-size: 3rem;
    color: #56a4eb;
}

.landingcontainer button{
    padding: 15px 20px;
    margin-top: 20px;
    color: #56a4eb;
    font-size: 1.2rem;
    border: 2px solid #56a4eb;
    border-radius: 5px;
    cursor: pointer;
}

.landingcontainer button:hover{
    background-color: #56a4eb;
    color: #ecf5fe;
}